@using Entity
@model List<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <td>Kategori Adı</td>
        <td>Aktiflik Düzenleme</td>
        <td>Düzenle</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.CategoryID</th>
            <td>@item.CategoryName</td>
            <td>
                @if (item.CategoryStatus == true)
                {
                    <button type="button" href="/Admin/Index1" class="btn btn-danger" onclick="confirmAction('/Admin/Category/PassivatingCategory/@item.CategoryID')">Pasif Yap</button>
                }
                else
                {
                    <button type="button" class="btn btn-primary" onclick="confirmAction('/Admin/Category/ActivatedCategory/@item.CategoryID')">Aktif Yap</button>
                }
            </td>
            <td><button type="button" class="btn btn-success">Düzenle</button></td>
        </tr>
    }
</table>

<td>
    <a href="~/Admin/Category/AddCategory" class="btn btn-info">
        <button type="button" class="btn btn-success">Kategori Ekle</button>
    </a>
</td>

<script>
    function confirmAction(url) {
        Swal.fire({
            title: "Emin misiniz?",
            text: "Yapmış olduğunuz işlem Sistemi etkileyebilir.",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Evet, Eminim!",
            cancelButtonText: "Hayır"
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: "Başarılı !",
                    text: "İşlem başarıli bir şekiklde gerçekleşti.",
                    icon: "success"
                }).then(() => {
                    window.location.href = url; // Onay alındıktan sonra belirtilen URL'ye yönlendir
                });
            }
        });
    }
</script>
