<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                <h3>Hakkımızda</h3>
                <p style="">Sitemizin "Hakkımızda" bölümüne hoş geldiniz! Ben Kubilay, bu blog web sitesini geliştirmek ve öğrenmek amacıyla tasarlıyorum..</p>
                <div class="read">
                    <a href="/Abouts/Media" class="btn btn-primary read-m">Devamı..</a>
                </div>
            </div>
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                @*Son gönderiler ViewCompanent*@
                @await Component.InvokeAsync("GetLast3Blog")
            </div>
            <!-- subscribe -->
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
               <h3>Mail Bültenine abone ol</h3>
               @*Mail bültenine aboneol*@
                @await Html.PartialAsync("~/Views/Newsletter/Index.cshtml")
            </div>
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                <!-- //subscribe -->
            </div>
        </div>
        <!-- footer -->
        <div class="footer-cpy text-center">
            <div class="footer-social">
                <div class="copyrighttop">
                    <ul>
                        <li class="mx-3">
                            <a class="facebook" href="#">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="#">
                                <i class="fab fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                        </li>
                        <li class="mx-3">
                            <a class="facebook" href="#">
                                <i class="fab fa-google-plus-g"></i>
                                <span>Google+</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="#">
                                <i class="fab fa-pinterest-p"></i>
                                <span>Pinterest</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="w3layouts-agile-copyrightbottom">
                <p>
                    © @DateTime.Now.Year Weblog. All Rights Reserved | Design by
                    <a href="~/web/http://w3layouts.com/">W3layouts</a>
                </p>

            </div>
        </div>

        <!-- //footer -->


    </div>
</footer>
