@*YORUM KISMI*@
@model Entity.Concrete.Comment

<div class="comment-top">
    <h4 class="custom-heading" style="color:red">Yorum Yaz...</h4>
    <div class="comment-bottom">
        @using (Html.BeginForm("PartialdAddComment", "Comment", FormMethod.Post))
        {
            <div>
                @Html.TextBoxFor(x=>x.UserName,new {@class="form-control",@required="",@placeholder="Başlık.."})
            </div>
            <br />
            <div>
                @Html.TextBoxFor(x=>x.CommentTitle,new {@class="form-control",@required="",@placeholder="Konu.."})
            </div>
            <br />
            <div>
                @Html.TextAreaFor(x=>x.CommentContent,new{@class="form-control",required="",placeholder="Mesaj.."})
            </div>
            <br />

            <button type="submit" class="btn btn-primary contact_grids_info">Gönder</button>
        }
    </div>
</div>