
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<form method="post" action="~/Admin/Blog/ExcelBlogList">
    <h3>Blog Listesini Excell olarak indirmek için tıklayınız !</h3>
    <div>
        <button type="submit" class="btn btn-success">İndir</button>
    </div>
    
</form>


